body {
    /* Positioning & Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    /* Visual */
    background-color: #000;
    color: #fff;

    /* Typography */
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    /* Positioning & Layout */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    /* Box Model */
    margin: 0;

    /* Typography */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
    letter-spacing: 3px;
    line-height: 1.25;
}

p {
    /* Box Model */
    margin-top: 0;

    /* Typography */
    font-size: 1.25em;
}

.version {
    /* Positioning & Layout */
    display: inline-block;

    /* Box Model */
    margin-top: 10px;
    padding: 15px 15px;
    border-radius: 5px;

    /* Visual */
    background-color: #fff;
    color: #000;
}

hr {
    /* Box Model */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 1px;
    border: none;

    /* Visual */
    background-color: #fff;
}

#timer {
    /* Box Model */
    margin-top: 25px;

    /* Typography */
    font-size: 1.5em;
}

/* --- Responsive Styles for Mobile --- */
@media (max-width: 768px) {
    .container {
        /* Box Model */
        width: 100%;
    }

    h1 {
        /* Typography */
        font-size: 3em;
        letter-spacing: 1px;
    }

    p {
        /* Typography */
        font-size: 1em;
    }

    .version {
        /* Box Model */
        padding: 10px 10px;
    }

    #timer {
        /* Typography */
        font-size: 1.2em;
    }
}