.update-overlay {
    /* Position */
    position: fixed;
    inset: 0;
    z-index: 2500;

    /* Layout (Flexbox / Grid) */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Visual */
    background-color: rgba(0, 0, 0, 0.1);

    /* Effects & Animation */
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    
}

.update-card {
    /* Layout (Flexbox / Grid) */
    display: flex;
    flex-direction: column;
    gap: 25px;

    /* Box Model */
    width: 100%;
    max-width: 500px;
    padding: 50px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;

    /* Typography */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    font-size: 15px;
    color: #404040;

    /* Visual */
    background-color: #FFFFFF;

    /* Effects & Animation */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.update-header {
    /* Layout (Flexbox / Grid) */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.update-title {
    /* Box Model */
    margin: 0;

    /* Typography */
    font-size: 25px;
    color: #404040;
    text-align: left;
}

.update-version {
    /* Typography */
    font-size: 15px;
    color: #808080;
    text-align: left;
}

.update-content {
    /* Layout (Flexbox / Grid) */
    display: flex;
    flex-direction: column;
    gap: 1px;

    /* Box Model */
    width: 100%;
    margin: 0;
    padding: 0;

    /* Typography */
    text-align: left;
}

.update-content p {
    /* Box Model */
    margin: 0;

    /* Typography */
    line-height: 1.5;
}

#updateBtn {
    /* Layout (Flexbox / Grid) */
    align-self: center;

    /* Box Model */
    padding: 15px 15px;
    border: none;
    border-radius: 5px;

    /* Typography */
    font-family: inherit;
    font-size: 15px;
    color: #FFFFFF;

    /* Visual */
    background-color: #216DD9;
    cursor: pointer;

    /* Effects & Animation */
    transition: background-color 0.25s ease;
}

#updateBtn:hover {
    /* Visual */
    background-color: #1D60BF;
}