#developer-overlay {
    /* Position */
    position: fixed;
    inset: 0;
    z-index: 2000;

    /* Layout (Flexbox / Grid) */
    display: none;
    justify-content: center;
    align-items: center;

    /* Visual */
    background-color: rgba(0, 0, 0, 0.1);

    /* Effects & Animation */
    backdrop-filter: blur(2.5px);
}

#developer-overlay.visible {
    /* Layout (Flexbox / Grid) */
    display: flex;
}

.developer-card {
    /* Layout (Flexbox / Grid) */
    display: flex;
    flex-direction: column;
    gap: 25px;

    /* Box Model */
    width: 100%;
    max-width: 500px;
    padding: 50px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;

    /* Typography */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 15px;
    color: #404040;

    /* Visual */
    background-color: #FFFFFF;

    /* Effects & Animation */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.developer-title {
    /* Box Model */
    margin: 0;

    /* Typography */
    font-size: 25px;
    color: #404040;
    text-align: left;
}

.social-links-container {
    /* Layout (Flexbox / Grid) */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    /* Box Model */
    margin: 0; 
}

.social-icon {
    /* Box Model */
    width: 50px;
    height: 50px;

    /* Visual */
    cursor: pointer;
}

.copyright-text {
    /* Box Model */
    margin: 0;

    /* Typography */
    font-family: inherit;
    font-size: 15px;
    color: #808080;
    text-align: center;
}

#developer-exit-btn {
    /* Layout (Flexbox / Grid) */
    align-self: center;

    /* Box Model */
    padding: 15px 15px;
    border: none;
    border-radius: 5px;

    /* Typography */
    font-family: inherit;
    font-size: 15px;
    color: #404040;

    /* Visual */
    background-color: #F2F2F2;
    cursor: pointer;

    /* Effects & Animation */
    transition: background-color 0.25s ease;
}

#developer-exit-btn:hover {
    /* Visual */
    background-color: #D9D9D9;
}