#real-time-clock-overlay {
    /* Position */
    position: fixed;
    inset: 0;
    z-index: 3000;

    /* Layout (Flexbox / Grid) */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Box Model */
    width: 100%;
    height: 100%;

    /* Typography */
    color: #ffffff;
    user-select: none;

    /* Visual */
    background-color: rgba(0, 0, 0, 0.85);
    pointer-events: auto;

    /* Effects & Animation */
    backdrop-filter: blur(2.5px);
}

#rtc-time {
    /* Typography */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    line-height: 1.25;
    letter-spacing: 1px;
}

#rtc-date {
    /* Box Model */
    margin-top: 0px;

    /* Typography */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 25px;
}